.blog-container {
  background-color: #1e3a8a;
  color: white;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}


.page-heading {
  font-size: 1.8rem;
  padding-top: 30px; /* Adjust to match your navbar height */
  margin-bottom: 1.5rem;
  color: #e6c33a;
}

.embedded-site {
  width: 100%;
  height: 85vh;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
